@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  font-family: "Raleway";
  line-height: 1.5;
}
.topnav {
  display: flex;
  justify-content: space-between;
  padding: 40px 25px;
  background-color: white;
}
a {
  text-decoration: none;
  font-size: 24px !important;
}
.container {
  display: grid;
  grid-template-areas:
    "art1  art2"
    "art3  art4"
    "art5 art4";
}
.art1 {
  grid-area: art1;
}
.art {
  grid-area: art2;
}
.art3 {
  grid-area: art3;
}
.art4 {
  grid-area: art4;
}
.art5 {
  grid-area: art5;
}
img {
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 40px 16px;
  background-color: #f1f1f1 !important;
}
footer h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

footer img {
  margin: 15px;
  width: 300px;
  height: 360px;
}
footer p {
  margin: 10px 80px;
  text-align: center;
  font-size: 14px;
}
form p {
  color: brown;
  font-size: 18px;
  margin: 10px 80px;
}
.ipt {
  margin-top: 16px;
  margin-bottom: 16px;
}
.inputform {
  display: flex;
  flex-direction: column;
}
input {
  width: 60%;
  height: 40px;
  text-align: center;
  border: 1px solid #ccc;
}
button {
  width: 60%;
  height: 40px;
  background-color: black;
  color: aliceblue;
  text-align: center;
  margin-top: 16px;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  footer img {
    width: 200px;
    text-align: center;
  }
}
